div.productSelection {
    display: inline-block;
        padding: 5px;
}
div.prfx-row-content {
    height: 300px;
    overflow-y: scroll;
    border: 1px solid lightgrey;
    padding: 20px;
    margin: 0px 14px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
    margin:2px;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
}

